<h1>Admin Login</h1>
<form action="/admin/login" method="POST">
  {{#if error}} 
    <p id="error">{{error}}</p>
  {{/if}}
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required><br>
  <div class="cap g-recaptcha" data-sitekey="6Lfew_EqAAAAAFaYEM6qd_FpYEDOMJayeNjHL0RC"></div>
  <button type="submit">Login</button>
</form>
