<address class="contact-card">
    <img class="logo" src="/favicon.png" alt="logo" width="80" height="80">
    <ul>
        <li>{{fullName}}</li>
        <li><span class="material-symbols-outlined">call</span>{{phone}}</li>
        <li><span class="material-symbols-outlined">mail</span>{{email}}</li>
        <li><span class="material-symbols-outlined">apartment</span>{{officeShort}}</li>
    </ul>
</address>