<nav class="navbar-floating">
  <ul class="navbar-menu">
    <li><a href="/">Home</a></li>
    <li><a href="/soldHomes">Previous Sales</a></li>
    <li><a href="/testimonials">Testimonials</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  <a href="/profile">
    <div class="photo-card">
      <img src="images/bioImage.png" alt="bioImage">
      <h3 class="name">{{fullName}}</h3>
      <h4 class="number">{{phone}}</h4>
    </div>
  </a>
</nav>