<div class="image-carousel">
    <div class="prev-btn">
        <span class="material-symbols-outlined">arrow_back</span>
    </div>
    <div class="image-holder">
        {{#each images}}
            <div class="carousel-item">
                <img src="/{{this}}" alt="House"/>
            </div>
        {{/each}}
    </div>
    <div class="next-btn">
        <span class="material-symbols-outlined">arrow_forward</span>
    </div>
    <div class="image-number"></div>
</div>

<script src="/js/imageList.js"></script>