<div class="image-carousel">
    <div class="prev-btn">
        <span class="material-symbols-outlined">chevron_left</span>
    </div>
    <div class="image-holder">
        {{#each images}}
            <img src="{{../folderPath}}/{{this}}" alt="House" class="listing-image"/>
        {{/each}}
    </div>
    <div class="next-btn">
        <span class="material-symbols-outlined">chevron_right</span>
    </div>
    <div class="image-number"></div>
</div>

<script src="/js/imageList.js"></script>