<nav class="navbar">
  <ul class="navbar-menu">
    <li><a href="/">Home</a></li>
    <li><a href="/soldHomes">Previous Sales</a></li>
    <li><a href="/testimonials">Testimonials</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  <a href="/profile">
  </a>
</nav>