<div class="listing-grid">
    {{#each soldHomes}}
        <div class="soldHome-card">
            <img src="{{this.image}}" alt="House" class="listing-image"/>
            <h4 class="address">{{this.address}}</h4>
            <h3 class="title">{{this.title}}</h3>
            <a href="/listing/{{this.id}}" class="details-link general-button">Learn More</a>
        </div>
    {{/each}}
</div>