<div class="soldHomes-grid">
    {{#each soldHomes}}
        <div class="listing-item">
            <img src="{{this.image}}" alt="House" class="listing-image"/>
            <div class="listing-info">
                <h3>{{this.title}}</h3> 
            </div>
            <a href="/listing/{{this.id}}" class="details-link">Learn More</a>
        </div>
    {{/each}}
</div>