<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes"/>
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/admin/listing.css" />
  </head>
  <body>
    <a href="/">Exit Admin</a>
    {{{ body }}}
    <script src="/js/admin.js"></script>
  </body>
</html>