<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/generalStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/footerStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/navbarStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/profileStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/listingStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/testimonialStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/contactStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/soldHomesStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/privacyPolicy.css"/>
    <link rel="stylesheet" href="/stylesheets/thankYou.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Afacad:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@300..600&icon_names=apartment,arrow_back,arrow_forward,call,chevron_left,chevron_right,mail"/>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  </head>
  <body>
    <div class="main-wrapper">
      {{> navbar}}
      {{{ body }}}
      {{> unifiedFooter}}
    </div>
  </body>
</html>