<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="google-site-verification" content="4dxIslwl_QrSwI7PKmtL-TqyMIA_QKAQY0_U8iN2pLw" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <title>{{pageTitle}}</title>
    
    <link rel="stylesheet" href="/stylesheets/general.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/footer.css"/>
    <link rel="stylesheet" href="/stylesheets/navbar.css"/>
    <link rel="stylesheet" href="/stylesheets/profile.css"/>
    <link rel="stylesheet" href="/stylesheets/listing.css"/>
    <link rel="stylesheet" href="/stylesheets/testimonial.css"/>
    <link rel="stylesheet" href="/stylesheets/contact.css"/>
    <link rel="stylesheet" href="/stylesheets/privacy.css"/>
    <link rel="stylesheet" href="/stylesheets/thank-you.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Afacad:ital,wght@0,400..700;1,400..700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  </head>
  <body>
    <div class="main-wrapper">
      {{{ body }}}
      {{> footer}}
    </div>
  </body>
</html>