{{> floatingNavbar}}

<div class="hero">
  <video playsinline autoplay muted loop>
    <source src="videos/websiteBomerang.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <h1 class="hero-header">Start Your Real Estate Journey</h1>
  <h3 class="hero-subheader">Let me and my experiance help you</h3>
</div>

<div class="scroll-icon">
  <h4 class="scroll-text">scroll</h4>
</div>

<div class="bio-section">
    <div class="left-side">
      <p>
        Born and raised right here in Orange County and have sold real estate in the area for over 29 years. 
        Prior to that, I owned and operated <q>Certified Pacific</q> a real estate appraisal firm. My appraisal 
        background gives me an edge on the valuation of your home. The secret to my success is that I put 
        your wants and needs in front of mine. I utilize my experience and foresight to proactively address 
        details before they become a problem. My commitment to excellence in customer service as well as my 
        depth of experience in the real estate industry will provide you with all your real estate needs.
      </p>
      <p>
        Let me get you the Results you want and deserve, call me.
      </p>
      <!--  OTHER BIO Born and raised in Orange County, Bob has sold real estate in the area for over 29 years. With a background in real estate appraisal, he brings exceptional expertise to property valuation. Bob's commitment to excellence ensures top-notch service tailored to your needs. -->
      
      <a class="bio-button general-button" href="/profile">Learn more about Bob</a>
    </div>
    <aside class="bio-contact-card">
      <img class="bio-img" src="images/bioImage.png" alt="bioImage">
      <p class="bio-phone">Phone: <a class="roboto-mono-number" href="tel:{{phone}}">{{phone}}</a></p>
      <p class="bio-email">Email: <a href="mailto:{{email}}">{{email}}</a></p>
    </aside>
</div>

<div class="soldHomes-section">
  <h1>Previous Success Stories</h1>
  {{> soldHomesGrid}}
  <a href="/soldHomes" class="view-more">View More Sales</a>
</div>

{{> testimonialPartial}}

<a href="/admin/login">admin login</a>