{{> navbar-home}}
<div class="hero">
  <video playsinline autoplay muted loop>
    <source src="videos/websiteBomerang.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <div class="hero-text">
    <h1>Bob Diersing</h1>
    <a href="/contact">Get In Touch</a>
  </div>
</div>

<div class="scroll-icon">
  <p class="scroll-text">scroll</p>
</div>

<div class="bio-section">
    <div class="left-side">
      <p class="hanken">
        Born and raised right here in Orange County and have sold real estate in the area for over 29 years. 
        Prior to that, I owned and operated <q>Certified Pacific</q> a real estate appraisal firm. My appraisal 
        background gives me an edge on the valuation of your home. The secret to my success is that I put 
        your wants and needs in front of mine.
      </p>
      <!--  OTHER BIO Born and raised in Orange County, Bob has sold real estate in the area for over 29 years. With a background in real estate appraisal, he brings exceptional expertise to property valuation. Bob's commitment to excellence ensures top-notch service tailored to your needs. -->
      
      <a class="bio-button" href="/profile">Get to know Bob</a>
    </div>
    <figure>
      <img class="bio-img" src="images/bioImage.png" alt="bioImage" width="500">
    </figure>
</div>

{{#if listings}}
  {{> listing-partial}}
{{/if}}

{{#if soldListings}}
  {{> sold-listing-partial title="Previous Success Stories"}}
{{/if}}

{{> testimonial-partial}}

<a href="/admin/dashboard">admin login</a>