{{> navbar}}
<div class="listing-detail">
  <img src="/images/calleSusannaHouse.jpg" alt="House" class="listing-image"/>
  <h1>{{listing.type}}</h1>
  <h3>Price: ${{listing.price}}</h3>
  <p>Address: {{listing.address}}</p>
  <p>Description: {{listing.description}}</p>
  <a href="/soldHomes">Back to previous sales</a>
</div>