{{> navbar}}

<div class="profile-body">
    <div class="profile-section1">
        <video controls autoplay>
            <source src="videos/bioVideo.mp4" type="video/mp4">
            Your browser does not support the video tag
        </video>

        <p>
            Born and raised right here in Orange County and have sold real estate in the area for over 29 years. 
            Prior to that, I owned and operated <q>Certified Pacific</q> a real estate appraisal firm. My appraisal 
            background gives me an edge on the valuation of your home. The secret to my success is that I put 
            your wants and needs in front of mine. I utilize my experience and foresight to proactively address 
            details before they become a problem. My commitment to excellence in customer service as well as my 
            depth of experience in the real estate industry will provide you with all your real estate needs.
        </p>
    </div>

    <div class="profile-section2">
        <span class="material-symbols-outlined">chevron_left</span>
        <article class="testimonial-card">
            <p class="testimonial-text">
                <q>I met Bob Diersing in 1996, after a difficult personal time in my life he helped me reinvest in the real estate market. 
                With his experience and expertise I was able to make successful real estate purchases. With the many transactions that he 
                has been involved with I have found him to be informed, highly competent, and able to advise me in my decision making, I 
                have never dealt with a more professional relator than him, I can't say enough about his integrity and would recommend him 
                to anyone that wants great service from a realtor that puts his clients interests first.</q>
            </p>
            <p class="testimonial-name">Peter</p>
        </article>
        <span class="material-symbols-outlined">chevron_right</span>
    </div>
</div>