{{> navbar}}

<div class="profile-body">
    <div class="profile-section1">
        <h2>Meet</h2>
        <h1>Bob Diersing</h1>
        <h3>Real estate expert since 1990 more random stuff about whatever not sure yet</h3>
        <img src="images/bioImage.png" alt="bioImage">
    </div>
    <div class="profile-section2">
        <video controls autoplay height="400">
            <source src="videos/bioVideo.mp4" type="video/mp4">
            Your browser does not support the video tag
        </video>

        <p>
            Born and raised right here in Orange County and have sold real estate in the area for over 29 years. 
            Prior to that, I owned and operated <q>Certified Pacific</q> a real estate appraisal firm. My appraisal 
            background gives me an edge on the valuation of your home. The secret to my success is that I put 
            your wants and needs in front of mine. I utilize my experience and foresight to proactively address 
            details before they become a problem. My commitment to excellence in customer service as well as my 
            depth of experience in the real estate industry will provide you with all your real estate needs.
        </p>
    </div>

    {{>testimonialPartial}}

    {{>contactPartial}}
</div>