{{> navbar}}

<div class="profile-body">
    <div class="profile-section1">
        <video controls autoplay>
            <source src="videos/bioVideo.mp4" type="video/mp4">
            Your browser does not support the video tag
        </video>

        <p>
            Born and raised right here in Orange County and have sold real estate in the area for over 29 years. 
            Prior to that, I owned and operated <q>Certified Pacific</q> a real estate appraisal firm. My appraisal 
            background gives me an edge on the valuation of your home. The secret to my success is that I put 
            your wants and needs in front of mine. I utilize my experience and foresight to proactively address 
            details before they become a problem. My commitment to excellence in customer service as well as my 
            depth of experience in the real estate industry will provide you with all your real estate needs.
        </p>
    </div>

    <div class="profile-section2">
        <div class="prev-btn">
            <span class="material-symbols-outlined">chevron_left</span>
        </div>
        <div class="card-list">
            {{#each testimonials}}
                <article class="testimonial-card">
                    <p class="testimonial-text">{{this.testimonial}}</p>
                    <p class="testimonial-name">{{this.name}}</p>
                </article>
            {{/each}}
        </div>
        <div class="next-btn">
            <span class="material-symbols-outlined">chevron_right</span>
        </div>
    </div>

    <div class="blank-space-div"></div>
</div>

<script src="/js/cardList.js"></script>