.general-button {
    padding: 10px 20px;
    color: #F2F1EC;
    font-size: 28px;
    text-decoration: none;
    background-color: #365B6D;
    box-shadow: 4px 4px 4px #00000040;
    border-radius: 5px;
}