.navbar {
  background-color: #365b6d;
  margin: 0;
  padding: 0 5% 0 2%;
  height: 80px;
  width: auto;
  text-shadow: 2px 2px 4px black;
  display: flex;
  z-index: 3;
}

.navbar-floating {
  background-color: #365b6d;
  margin: 0;
  padding: 0 5% 0 2%;
  height: 60px;
  width: 88%;
  top: 90px;
  left: 5%;
  /*text-shadow: 2px 2px 4px black;*/
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

.navbar-menu {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.navbar-menu li a {
  color: #f7f7f7;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 100;
  font-stretch: extra-expanded;
  transition: color 0.3s, border-bottom 0.3s;
}

.navbar-menu li a:hover {
  color: #EFE8B9;
  text-decoration: none;
  border-bottom: 2px solid #EFE8B9;
}

.photo-card{
  margin: 0;
  padding: 0;
  height: 14rem;
  width: 11rem;
  background-color: #f7f7f7;
  box-shadow: 5px 5px 10px;
  position: absolute;
  top: -100%;
  right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #15232a;
  text-shadow: none;
}

.photo-card img{
  margin: 5% 0;
  width: 150px;
  height: auto;
}

.photo-card .name {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}

.photo-card .number {
  margin: 0;
  padding: 0;
  font-size: .75rem;
}

@media (max-width: 1024px) {
  .photo-card {
    display: none;
    visibility: none;
  }
}

@media(max-width: 768px) {
  .navbar-floating {
    top: 0;
    left: 0;
    width: 98%;
    height: 45px;
    padding: 0 1%;
    font-size: 12px;
    justify-content: center;
  }

  .navbar-menu {
    padding: 0;
  }
}

@media(max-width: 480px) {
  .navbar-floating {
    font-size: 8px;
    height: 30px
  }
}