.profile-body {
    margin: 20px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.profile-section1 {
    width: 90%;
    padding: 20px;
    background-color: #6C9286;
    display: flex;
    border-radius: 5px;
}

.profile-section1 p {
    color: #F2F1EC; 
    margin: 30px;
}
