/*________SOLD HOMES HERO_______*/
.soldHomes-hero {
    width: 90%;
    height: 40vh;
    margin: 0;
    padding: 8vh 5%;
    background-color: #BECBD2;
    position: absolute;
    font-family: "Aboreto", serif;
    font-weight: 400;
    font-size: 48px;
    z-index: 0;
}

/*_____SOLD HOMES CONTAINER_____*/
.soldHomes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
    gap: 20px;
    z-index: 1;
}

/*________LISTING GRID________*/
.listing-grid {
    margin: 0;
    padding: 1.75% 1%;
    width: 80%;
    background-color: #F2F1EC; 
    box-shadow: 4px 4px 4px #00000040;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fill, 400px);
    column-gap: 1%;
    row-gap: 20px;
    z-index: 1;
  }