* {
  margin: 0; 
  padding: 0;
}
body {
  min-height: 100vh;
  font-family: "Aboreto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  word-spacing: 1.4px;
  background-color: #365B6D;
  color: #15232a;
}

.main-wrapper {
  overflow-x: hidden;
  width: 100%;
}
/* ________FONT CLASSES________ */

.aboreto {
  font-family: "Aboreto", serif;
  font-weight: 400;
  font-style: normal;
}

.afacad {
  font-family: "Afacad", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ___________________________ */


/* ________HERO SECTION________ */

.hero {
  position: relative;
  top: 0;
  width: 100%;
  color: #f2f1ec;
  text-shadow: 3px 3px 3px #15232a;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

.hero video {
  object-fit: cover;
  object-position: center;
  z-index: 0;
  height: 100%;
  width: 100%;
}

.hero-text {
  position: absolute;
  top: 30vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

.hero-text h1 {
  font-size: clamp(2rem, 5vw, 5rem);
  font-weight: 400;
}
.hero-text p {
  margin-top: 5vh;
  font-size: clamp(1rem, 1.6vw, 3rem);
  font-weight: 400;
}
.hero-text a {
  background-color: #264653;
  padding: 10px 20px;
  font-family: "Aboreto", serif;
  text-decoration: none;
  color:#f2f1ec;

  font-size: clamp(1rem, 1.6, 3rem);
}

.scroll-icon {
  position: absolute;
  background-image: linear-gradient(rgb(255,255,255) 30%, rgb(0,0,0), rgb(255,255,255) 70%);
  background-size: 100% 400%;
  background-clip: text;
  bottom: 8px;
  width: 100%;
  text-align: center;

  animation-name: slideColor;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.scroll-text {
  margin: 0;
  color: transparent;
  font-size: 22px;
  font-weight: 400;
}

@keyframes slideColor {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}

/* ___________________________ */

/* ________BIO SECTION________ */
.bio-section {
  margin: 0;
  padding: 10vh 0;
  width: auto;
  background-color: #f2f1ec;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bio-section a {
  text-decoration: none;
  color: #15232a;
}

.bio-section .left-side {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.bio-section .left-side p {
  font-family: "Afacad", serif;
  font-size: 22px;
  font-weight: 400;
}
.bio-section .bio-button {
  align-self: flex-end;
  background-color: #264653;
  padding: 8px 12px;
  border: .1rem solid #15232a;
  color: #f2f1ec;
}

.bio-contact-card {
  background-color: #f7f7f7;
  box-shadow: 3px 3px 3px #15232a;
  height: 450px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.bio-img {
  width: 380px;
}

.bio-contact-card p {
  font-size: 16px;
  font-weight: 500;
  margin: 8px 0;
}
/* ____________________________ */


/* ______SOLD HOMES SECTION______ */
.soldHomes-section {
  background-color: #BECBD2;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-more {
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #264653;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  width: fit-content;
  transition: background-color 0.3s;
}

.view-more:hover {
  background-color: #2a9d8f;
}
/* ______________________________ */

.blank-space-div {
  height: 80vh;
}
/* _______MEDIA QUEREYS_____*/
@media (max-width: 2000px) {
  
}

@media (max-width: 1024px) {
  .hero-header {
    font-size: 60px;
  }
  .hero-subheader {
    font-size: 20px; 
  }

  .bio-section {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .bio-section .left-side {
    padding: 5vh 3vw;
  }
  .bio-text{
    font-size: 12px;
    flex-basis: auto;
  }
  .bio-contact-card p {
    font-size: 12px;
  }
}

@media(max-width: 768px) {
  .hero-header {
    font-size: 40px;
  }

  .hero-subheader {
    font-size: 15px; 
  }

  .bio-text{
    font-size: 8px;
  }
}

@media(max-width: 480px) {
  .hero-header {
    font-size: 40px;
  }

  .hero-subheader {
    font-size: 15px; 
  }
  
}
/* _________________________*/