body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  word-spacing: 1.4px;
  background-color: #d7d6d1;
  color: #15232a;
}
/* ________FONT CLASSES________ */

.italiana-regular {
  font-family: "Italiana", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-regular {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ___________________________ */


/* ________HERO SECTION________ */
.hero {
  width: 100%;
  height: 100vh;
  color: #f2f1ec;
  font-size: 1rem;
  text-shadow: 3px 3px 3px #15232a;
  text-align: center;
  padding: 0;
  margin: 0;
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index:-100;
}

.hero-header {
  font-size: 5em;
  padding: 15rem 0 0 0;
  margin: 0;
}

.hero-subheader {
  font-size: 1.8em; 
  margin: 0;
}
/* ___________________________ */

/* ________BIO SECTION________ */
.bio-section {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80vh;
  background-color: #f2f1ec;
}

.bio-card {
  width: 80%;
  height: 70%;
  position: relative;
  top: 15%;
  left: 10%;
  background-color: #f2f1ec;
}

.bio-text {
  width: 40%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 5%;
}

.bio-img {
  position: absolute;
  right: 10%;
  top: 5%;
  width: 30%;
  height: auto;
}
/* ____________________________ */

.soldHomes-container {
  margin: 2rem 5rem;
  padding: 1% 2%;
  background-color: #f2f1ec;
}

.soldHomes-container h1 {
  margin: 1% 5%;
}

.soldHomes-grid {
  margin: 1% 1%;
  padding: 0;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, 400px);
  column-gap: 1%;
  row-gap: 20px;
}

.view-more {
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #2a9d8f;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  width: fit-content;
  transition: background-color 0.3s;
}

.view-more:hover {
  background-color: #264653;
}