body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  word-spacing: 1.4px;
  background-color: #d7d6d1;
  color: #15232a;
}
/* ________FONT CLASSES________ */

.italiana-regular {
  font-family: "Italiana", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-regular {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-mono-number {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* ___________________________ */


/* ________HERO SECTION________ */
.hero {
  width: 100%;
  height: 100vh;
  color: #f2f1ec;
  font-size: 16px;
  text-shadow: 3px 3px 3px #15232a;
  text-align: center;
  position: static;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.hero video {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.hero-header {
  font-size: 80px;
  font-weight: 500;
  padding: 200px 0 0 0;
  margin: 0;
}

.hero-subheader {
  font-size: 30px; 
  font-weight: 500;
  margin: 0;
}

.scroll-icon {
  position: absolute;
  top: 90vh;
  width: 100%;
  text-align: center;
}

.scroll-text {
  color:#15232a;
  font-family: "Italiana", serif;
  font-size: 28px;
  font-weight: 600
}

/* ___________________________ */

/* ________BIO SECTION________ */
.bio-section {
  margin: 0;
  padding: 0;
  width: auto;
  height: 80vh;
  background-color: #f2f1ec;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bio-section a {
  text-decoration: none;
  color: #15232a;
}

.bio-text {
  flex-basis: 40%;
}

.bio-text a {
  background-color: #264653;
  padding: 8px 12px;
  border: .1rem solid #15232a;
  color: #f2f1ec;
  font-weight: 600;
}


.bio-contact-card {
  background-color: #f7f7f7;
  box-shadow: 3px 3px 3px #15232a;
  height: 450px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.bio-img {
  width: 380px;
}

.bio-contact-card p {
  font-size: 16px;
  font-weight: 500;
  margin: 8px 0;
}
/* ____________________________ */


/* ______SOLD HOMES SECTION______ */
.soldHomes-section {
  background-color: #f7f7f7;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.soldHomes-grid {
  margin: 0;
  padding: 1.75% 1%;
  width: 90%;
  background-color: #6c9286; 
  border-radius: 15px;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, 400px);
  column-gap: 1%;
  row-gap: 20px;
}

.view-more {
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #264653;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  width: fit-content;
  transition: background-color 0.3s;
}

.view-more:hover {
  background-color: #2a9d8f;
}
/* ______________________________ */

/* _______MEDIA QUEREYS_____*/
@media (max-width: 2000px) {
  
}

@media (max-width: 1024px) {
  .hero-header {
    font-size: 60px;
    padding: 15rem 0 0 0;
  }
  .hero-subheader {
    font-size: 20px; 
  }

  .bio-section {
    flex-direction: column;
  }
  .bio-text{
    font-size: 12px;
    flex-basis: auto;
  }
  .bio-contact-card p {
    font-size: 12px;
  }
}

@media(max-width: 768px) {
  .hero-header {
    font-size: 40px;
    padding: 200px 0 0 0;
  }

  .hero-subheader {
    font-size: 15px; 
  }

  .bio-text{
    font-size: 8px;
  }
}

@media(max-width: 480px) {
  .hero-header {
    font-size: 40px;
    padding: 100px 0 0 0;
  }

  .hero-subheader {
    font-size: 15px; 
  }
  
}
/* _________________________*/